# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/pgdata
/.pnp
.pnp.js
apitest.js
conservation-authority-info.js
webform-expressapp/views/mapiframe/conservation-layers.json
/retired
/.vscode
# testing
/coverage
id_rsa_workgithub
id_rsa_workgithub.pub
nbcounties.json
splitnbcounties.json
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


dockerfile.dat
Dockerfile
init.sql