<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="fgpv/rv-styles.css">
    <script src="selectplugin.js"></script>
    <title>FGPV</title>
    <style>
        md-list-item::before {
            display:none;
            height:0px; 
            width:0px; 
        }
    </style>
</head>

<body>
    <div id="my-heatmap" is="rv-map" style="height:100%;" rv-config="configuration" rv-plugins="heatmap"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="fgpv/rv-main.js"></script>
    <script src="mapconfig.js"></script>
    <script src="heatmapplugin.js"></script>
</body>
