<!DOCTYPE html>

<html>
    <head>
        <title>Flood Mapping Metadata Portal</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap//bootstrap.css">
        <style>
            body {
                margin-top:30px; 
            }
        </style>

    </head>
    <body>
        <p></p>
        <div class="container">
            <h1>Flood Mapping Metadata Portal</h1>
            
            <p>
                <h4>I will be submitting information on.....</h4>
            </p>
            <form id="selectionform" method="post" action="/entry">
                <div class="form-check-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="imagery" name="imagery">
                        <label class="form-check-label" for="imagery">
                            Imagery Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="elevation" name="elevation">
                        <label class="form-check-label" for="elevation">
                            Elevation Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hydrology" name="hydrology">
                        <label class="form-check-label" for="hydrology">
                            Hydrology Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hydraulics" name="hydraulics">
                        <label class="form-check-label" for="hydraulics">
                            Hydraulics Data
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/bootstrap/bootstrap.js"></script>
    </body>


</html>