<!DOCTYPE html>

<html>
    <head>
        <title>Flood Mapping Metadata Portal</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap//bootstrap.css">
        <style>
            body {
                margin-top:30px; 
            }
        </style>

    </head>
    <body>
        <p></p>
        <div class="container">
            <h1>Flood Mapping Metadata Portal</h1>
            
            <h3>About</h3>
            <p>
                The flood mapping metadata portal is an online database to (i) enter and (ii) query metadata related to flood hazard mapping.  This site was created by Natural Resources Canada in collaboration with Conservation Ontario.
            </p>
            <p>
                <h4>I will be submitting information on.....</h4>
            </p>
            <form id="selectionform" method="post" action="/entry">
                <div class="form-check-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="general" name="general" checked disabled>
                        <label class="form-check-label" for="general">
                            General Data
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="imagery" name="imagery">
                        <label class="form-check-label" for="imagery">
                            Imagery Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="elevation" name="elevation">
                        <label class="form-check-label" for="elevation">
                            Elevation Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hydrology" name="hydrology">
                        <label class="form-check-label" for="hydrology">
                            Hydrology Data
                        </label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="hydraulics" name="hydraulics">
                        <label class="form-check-label" for="hydraulics">
                            Hydraulics Data
                        </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Continue</button>
                </div>
            </form>
            <h3>Data Entry:</h3>
            <p>
                This form is intended to collect metadata that describes the data, inputs, and models used to develop flood maps. <br><br>

The default data that is required includes details about the type of record (hazard, awareness, etc.), the project category (e.g.: watercourse, great lakes, coastal, etc.), name of water body, hazard events evaluated (e.g.: 100 yr, 20 yr, 5 yr, etc.). The spatial extent of the area mapped can be loaded multiple ways: via mouse-clicks or uploading a file of the flood line polygon or extent of mapped area.  <br><br>

On the 2nd page, default required information includes: financial support, new/updated mapping, the area covered (e.g.: length of waterbody, maximum floodplain extent, etc.) and if a flood event has been recorded since 1996.
In addition to the default data required, users may select any (or all) of the buttons below to add additional information they have available regarding the data used in the modelling process:
                <ul>
                    <li>Imagery Data - For recording information on images used in the development of the flood map.
                        <ul>
                            <li>
                                Data entry fields include: season of collection, acquisition year, horizontal and vertical reference datum, accuracy and spatial resolution.
                            </li>
                        </ul>
                    </li>
                    <li>Elevation Data - For recording information on elevation dataset(s) used in the development of the flood map.
                        <ul>
                            <li>
                                Data entry fields include: data type (e.g.: LiDAR, GPS, phogrammetry, etc.), data format, acquisition year, horizontal and vertical reference datum, accuracy and spatial resolution.
                            </li>
                        </ul>
                    </li>
                    <li>Hydrology Data - Hydrology Data : For recording information on hydrology models and methods used.
                        <ul>
                            <li>
                                Data entry fields include: hydrology method used, number of years in datasets, number of events modelled, quality of the input and calibration, if future model year events are modelled, climate change considerations, and whether snowmelt, peak volume reduction or catchments were discretized. 
                            </li>
                        </ul>
                    </li>
                    <li>Hydraulics Data - For recording information on hydraulic model and calibration process used.
                        <ul>
                            <li>
                                Data entry fields include: hydraulic modelling software used, model year used, flow conditions, quality of the input and calibration, whether the floodline was estimated, if the results have been peer reviewed and any general comments.
                            </li>
                        </ul>
                    </li>
                </ul>
            </p>


        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/bootstrap/bootstrap.js"></script>
    </body>


</html>