<!DOCTYPE html>

<html>
    <head>
        <title>Thank you for your submission</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>
        <div class="container">
            
            <div class="row padme">
                <div class="col-lg-12">
                    <h1>Thank you for your submission!</h1>
                </div>        
            </div>
            <div class="row padme">
                <div class= col-lg-12>
                    <div class="form-group">
                        <a href = "/hydro_dev/analytics" class="button btn btn-success btn-block">Go to analytics page</a>
                    </div>
                </div>
            </div>
        </div>


        

        <script src="js/bootstrap/bootstrap.js"></script>
    </body>
</html>